<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input
      #serverNameInput
      type="text"
      class="form-control">
    <label>Server Content</label>
    <input
      #serverContentInput
      type="text"
      class="form-control">
    <br>
    <button
      (click)="onAddServer(serverNameInput)"
      class="btn btn-primary">Add Server</button>
    <button
      (click)="onAddBlueprint(serverNameInput)"
      class="btn btn-primary">Add Server Blueprint</button>
  </div>
</div>
